{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": {
          "node": "4"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["gjs"]
}
